<div class="container">
    <h3>Create User</h3>
    <form method="POST" action="/courses/store">
        <div class="mb-3">
            <label for="input-name" class="form-label">Name</label>
            <input type="text" class="form-control" id="input-name" name="name">
        </div>
        <div class="mb-3">
            <label for="input-description" class="form-label">Description</label>
            <input type="text" class="form-control" id="input-description" name="description">
        </div>
        <div class="mb-3">
            <label for="input-image" class="form-label">Image</label>
            <input type="text" class="form-control" id="input-image" name="image">
        </div>
        <button type="submit" class="btn btn-primary">Create User</button>
    </form>
</div>