<div class="mt-3">
    <div class="row">
        <div class="col-lg-3">
            <button><h1>Click Here</h1></button>
        </div>
        <div class="col-lg-9">
            <h2>{{course.name}}</h2>
            <img src="{{course.image}}" alt="" class="img-thumbnail">
            <p>{{course.description}}</p>
        </div>
    </div>
</div>